<header>
  <div class="centered">
    <div class="portrait-title">
      <img class="banner-portrait" src="/assets/img/bethany_dunfield.jpeg" alt="Picture of Bethany" />
      <h1>{{ title }}</h1>
    </div>
    <div class="navwrapper">
      <nav>
        <a href="/">Home</a>
        <a href="/posts">Blog</a>
      </nav>
      <div class="socials">
        <a href="">Twitter</a>
        <a href="">Github</a>
      </div>
    </div>
  </div>
</header>