<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    {% include "layouts/partials/header.html" %}
    {{ content | safe }}
  </body>
</html>